/* основной цвет текста #212121 */
/* второстепенный цвет текста #757575 */
/* цвет акцент, цвет Web логотипа  #2196F3 */
/* цвет заголовка ГЕРОЯ, цвет адресса в футере и Studio в лого #000000 */

:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #e5e5e5;
  --color-address-studio: #000000;
  --color-button: #ffffff;
  --color-hero: #ffffff;
  --buttom-bg-color-potfolio: #f5f4fa;
  --bg-card-portfolio: #ffffff;
  --color-icon: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time-transition: 250ms
}
.page {
  color: var(--primery-text-color);
  background-color: var(--primery-bg-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  display: flex;
  padding: 0;
  list-style: none;
}
/* background color pages */
.instruments,
.work,
.example-work {
  background: var(--primery-bg-color);
}

/* header */

.logo {
  display: flex;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}

.logo__basic-color {
  color: var(--accent-color);
}

.logo__color-basic-studio {
  color: #000000;
}

.container__header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
}

.container__nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  margin-top: 0; 
  margin-bottom: 0;
 }

 .container__nav-list {
   display: flex;
   align-items: center;
   justify-content: center;
 }

.container__nav-link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
}

.container__connection-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.container__list-item:not(:nth-child(2)),
.container__connection-item:not(:nth-child(1)) {
  margin-left: 50px;
}

/*Бегунок под названием страницы */
.container__nav-link--active::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  top: 33px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* css-transition */
.container__nav-link,
.container__connection-link {
  transition: color var(--time-transition) var(--cubic);
}

.container__nav-link:hover,
.container__nav-link:focus,
.container__connection-link:hover,
.container__connection-link:focus {
  color: var(--accent-color);
}

.container__connection-link:hover .container__icon-mail,
.container__connection-link:focus .container__icon-mail {
  fill: var(--accent-color);
}

.container__connection-link:hover .container__icon-phone,
.container__connection-link:focus .container__icon-phone {
  fill: var(--accent-color);
}

.container__nav-link,
.container__connection-link {
  color: inherit;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.container__nav-link--active {
  color: var(--accent-color);
}

.container__icon-mail,
.container__icon-phone {
  margin-right: 10px;
  transition: fill var(--time-transition) var(--cubic);
}
/* main */
 
.hero-container {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/bg-hero.jpg);
  background-size: cover;
  width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container__title {
  margin-bottom: 30px;
  color: var(--color-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-container__button,
.modal-submit {
  background-color: var(--accent-color);
  color: var(--color-button);
  width: 200px;
  margin-bottom: 0px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* Modal */
.hero-container__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time-transition) var(--cubic);
}

.hero-container__backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-transition) var(--cubic);
  width: 528px;
  height: 581px;
  padding: 40px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hero-container__backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
 
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}
.modal__icon {
  position: absolute;
  width: 50%;
  height:50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  cursor: pointer;
}

/* activity modal */
.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  margin: 0 0 12px 0;
}

.modal-container {
  position: relative;
}

.modal-container__field {
  display: block;
  text-align: start;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.modal-container__form,
.modal-container__comments {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(164, 148, 148, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  transition: border var(--time-transition) var(--cubic);
}

.modal-container__comments {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.modal-container__checkbox {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  padding-left: 20px;
  margin-bottom: 30px;
}

.modal-container__form-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-submit {
  margin-bottom: 40px
}

.modal-container:focus-within .modal-container__icon {
  fill: var(--accent-color);
}

.modal-container:focus-within .modal-container__form,
.modal-container:focus-within .modal-container__comments {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-container__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primery-text-color);
  transition: fill var(--time-transition) var(--cubic);
}

.modal-container__checkbox-icon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 15px;
  background: #FFFFFF;
  border: 2px solid var(--primery-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: background-color var(--cubic) var(--time-transition),
  border-color var(--cubic) var(--time-transition),
  background-clip var(--cubic) var(--time-transition);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.modal-container__field--check:checked~.modal-container__checkbox-icon {
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center ;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-clip: border-box;
}

/* end modal */

/* container-instruments */

.instruments__list {
   margin-bottom: 0;
   text-align: start;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.instruments__icon {
  display: inline-block;
  
}
.instruments__title {
  margin-bottom: 10px;
  color: var(--primery-text-color);
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.instruments__text {
  color: var(--secondary-text-color);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
/* work-section-thumb */

.work__thumb {
  position: relative;
}

.work__list-img {
  display: block;
}

.work__title-thumb {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px 0 27px 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-work {
  padding-top: 0;
}

.work__title,
.section-team__title {
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  align-items: center;
}

.work__item:not(:first-child) {
  margin-left: 30px;
}

.section-team__item:not(:first-child) {
  margin-left: 30px;
}

.instruments__item:not(:first-child) {
  margin-left: 30px;
}
.section-team {
  background: #f5f4fa;
}
.section-team__item {
  background-color:var(--primery-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team__title,
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.section-team__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.section-team__profession {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0 ;
}
/* icons section team */
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.social-list__link:not(:last-child) {
  margin-right: 10px;
}
.social-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 30px;  
  width: 100%;
  height: 100%;
  color: var(--color-icon);
  transition: background-color var(--time-transition) var(--cubic);
}
.social-list__icon:hover,
.social-list__icon:focus {
  background-color: var(--accent-color);
}

.social-list__logo {
  background-position: center;
  fill: currentColor;
  transition: fill var(--time-transition) var(--cubic);
}

.social-list__icon:hover .social-list__logo,
.social-list__icon:focus .social-list__logo {
  fill: #fff;
}

/* Section customers */
.section-customers__centered {
  text-align: center;
}

.section-customers__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.section-customers__item {
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color var(--time-transition) var(--cubic);
}
.section-customers__item:not(:last-child) {
  margin-right: 30px;
}
.section-customers__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--color-icon)
}
.section-customers__link svg {
  fill: currentColor;
  transition: fill var(--time-transition) var(--cubic);
}

.section-customers__item:hover,
.section-customers__item:focus {
  border-color: var(--accent-color);
}

.section-customers__link:hover .section-customers__icon,
.section-customers__link:focus .section-customers__icon {
  fill: var(--accent-color);
}

/* Portfolio */
.examples-work__list {
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.examples-work__item:not(:first-child) {
  margin-left: 30px;
}

.examples-work__button {
  color: var(--primery-text-color);
  background-color: var(--buttom-bg-color-potfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--time-transition) var(--cubic),
  color var(--time-transition) var(--cubic),
  box-shadow var(--time-transition) var(--cubic);
}
.examples-work__button:hover,
.examples-work__button:focus {
  background-color: var(--accent-color);
  color: var(--color-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.container-works__link {
  display: block;
  text-decoration: none;
  color: var(--primery-text-color);
  transition: box-shadow var(--time-transition) var(--cubic);
}
.container-works__list {
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.container-works__item {
  box-sizing: border-box;
}
.container-works__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-thumb__meta {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0;
}
/* Info-section-card */
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb__info-text {
  margin: 0 0;
}

.card-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0;
  background-color:rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity var(--time-transition) var(--cubic),
  transform var(--time-transition) var(--cubic);
}

.container-works__link:hover .card-thumb__overlay,
.container-works__link:focus .card-thumb__overlay {
  opacity: 1;
  transform: translateY(0);
}

.card-thumb__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.container-works__item:not(:nth-child(3n)) {
  background-color: var(--bg-card-portfolio);
  margin-right: 30px;
}
.card-thumb__img {
  display: block;
  max-width: 370px;
}
.container-works__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.card-thumb__category {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}

/* Footer */
.logo--change-color {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__color-basic-studio--inverse {
  color: #ffffff;
}

.nav-footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
}

.nav-footer__adress {
  display: block;
}

.nav-footer {
  background-color: var(--secondary-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.nav-footer__container {
  display: flex;
}

.container-adress {
  margin-right: 70px;
}

.invitation,
.form {
  margin-top: 15px;
}

.nav-footer__list {
  display: block;
  margin-left: 0;
}

.nav-footer__contacts {
  color: #ffffff99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-footer__contacts--white-color {
  color: #ffffff;
}

.nav-footer__item:not(:first-child) {
  margin-left: 0;
  margin-top: 9px;
}

.nav-footer__contacts:hover,
.nav-footer__contacts:focus {
  color: var(--accent-color);
}

/* Invitation-footer */
.invitation__title,
.form__title {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.invitation__social-link {
  display: flex;
  width: 44px;
  height: 44px;  
}

.invitation__social-link:not(:last-child) {
  margin-right: 10px;
}

.invitation__social-list {
  margin-top: 20px;
}

.invitation__icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color var(--time-transition) var(--cubic);
}
.invitation__icon:hover,
.invitation__icon:focus {
  background-color: var(--accent-color);
}

/* Style Form */
.form {
  margin-left: 93px;
}
.form-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.form__title {
  margin: 0;
}
.form__submit {
  position: relative;
  display: flex;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
}
.form__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  background: #2F303A;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}
.form__icon {
  display: block;
  position: absolute;
  top: 13px;
  right: 28px;
  fill : #ffffff;
}
